body{
    display: block;
}
header{
    flex: 1;
}
.encabezado{
    display: flex;
    background-color: #E7E7E7;
    padding: vh vw;
    align-items: baseline;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
    
}
.titulo{
    font-size: 16px;
    align-self: center;
    justify-self: flex-start;
    padding-left: 2%;
    white-space: nowrap;

}
nav{
    position: relative;
    display: flex;
    align-self: center;
    align-items: stretch;
    justify-self: end;
    justify-content: space-between;
    size: 30%;

}
.subtitulo{
    height: 60px;
    background-color: #CFDDFF;
    align-items: center;
    display: flex;
    padding-left: 2%;

}
main{
    background-color: #000;
    flex: 1;
}
.boton{
    position: relative;
    margin-right: 15px;
    white-space: nowrap;
    border-color:#E7E7E7;
    height: 40px;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
}
.menufont{

    list-style: none;
    font-size: 18px;
    color: black;

}
.boton:hover{
    background-color: #fff;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.datos{
    background-color: #E7E7E7;
    padding: 2%;
    justify-self: end;
  
}
.f1{
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}
.f{
    font-weight: bold;
    font-size: 17px;

}
.imgpersonal{
    height: 20%;
    width: auto;
    align-items: start;
}
.fotoo{
    height: 400px;
    height: 400px;
    width: auto;

}
footer{
    background-color: #E7E7E7;
    position: relative;
    padding: 1%;
    text-align: center;

}
footer.p{

    position: relative;
    color: #000;
    

    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;

}
img{
    height: 400px;
    width: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.enlacesreferencias{
    display: none;
}