h1{
color: #943C13;
}
h4{
    font-size: large;
}
img{
    border: 0px;
    padding: 0px;
    background-color: none;

    border-radius: 0px;
    width: 20%;
    height: auto;
}

p{
    font-style: normal;
    font-family: Inconsolata;

}

#titulo{
    padding: 30px;
    font-size: larger;
    background-color: aquamarine;
    color: black;
}

.subtitulo{
    padding: 30px;

}


.claseletras{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}

.menu{
    font-style:italic;
}

